#page {
	background-color: #17B169;
	color: #FFF;
	background-image: url('https://muralsyourway.vtexassets.com/arquivos/ids/233950-825-auto');
	background-repeat:no-repeat;
	#background-size:cover;
	opacity: 0.7
}
body, .masthead  {
	color: #FFF;
	background-color: #17B169;

}
.site-branding > h1.site-title > a {
	color: #000;
}
h1.tribe-events-month-event-title {
	color: #000;		
}

tribe-events-single-section.tribe-events-event-meta primary.tribe-clearfix>* {
	color: #000;	
}

.tribe-events-last a, .tribe-events-month-event-title  a{
	color: yellow;
	/*border-bottom: yellow solid 4px;*/
	font-size: 5em;
}

.entry-title.summary a {
	font-size: 1.5em;
	color: #000;
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}


#outerbox
{
	width: 600px;
	overflow: hidden;
	margin-left: 50px;
}

#sliderbox
{
	position: relative;
	width: 3600px;
	animation: instruments 20s infinite;
}

#sliderbox img
{
	float: left;
	object-fit: cover;
}


@keyframes instruments
{
	0%
	{
		left: 0px;
	}
	15% 
	{
		left: 0px;
	}
	20%
	{
		left: -600px;
	}
	35%
	{
		left: -600px;
	}
	40%
	{
		left: -1200px;
	}
	55%
	{
		left: -1200px;
	}
	60%
	{
		left: -1800px;
	}
	75%
	{
		left: -1800px;
	}
	80%
	{
		left: -2400px;
	}
	95%
	{
		left: -2400px;
	}
	100%
	{
		left: -3000px;
	}
}


.tribe-events-single-section.tribe-events-event-meta.primary.tribe-clearfix {
	color: #000;
}
.nav-menu a {
	color: #D3CCBB;
}

.fa {
	font-size:1.5em;
}

.center {
    text-align: center;
}

table.tribe-events-calendar .tribe-events-month-event-title a {
	font-size 6em;
}

.wpcf7-textarea {
	font-family: "Lato",sans-serif;
	color: #333;
}

.wpcf7-response-output.wpcf7-mail-sent-ok {
	border: solid #aaa 2px;
	font-family: "Lato",sans-serif;
	color: #aaa;	
}

.wpcf7-form-control.wpcf7-submit {
	color: #000;
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}

.content {
  animation: type 1s steps(60, end);
}
@keyframes type {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
